<header id="intro" style="display: block;">
	<article class="fullheight" style="height: 100px;">
		<div class="hgroup">
			<h3>Grand Hotel</h3>
			<h5>Kolkata, West Bengal</h5>
		</div>
	</article>
</header>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="gallery">
				<img alt="any" src="assets/intro_dining.jpg"> <img alt="any"
					src="assets/intro_pool.jpg"> <img alt="any"
					src="assets/intro_room.jpg"> <img alt="any"
					src="assets/intro_games.jpg"> <img alt="any"
					src="assets/intro_rooftop.jpg">
			</div>
			<h2>Book A Room</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal" [formGroup]="roomsearch" (ngSubmit)="onSubmit(roomsearch)" >
				<div class="formgroup">
					<label for="checkin" class="col-xs-2">Check-In:</label>
					<div class="col-xs-10">
						<input id="checkin" type="date" size="10" class="form-control" formControlName="checkin" required="required">
					</div>
				</div>
				<div class="formgroup">
					<label for="checkout" class="col-xs-2">Check-Out:</label>
					<div class="col-xs-10">
						<input id="checkout" type="date" size="10" class="form-control" formControlName="checkout" required="required">
					</div>
				</div>
				<div class="col-xs-offset-2">
					<button type="submit" class="btn btn-primary btn-lg">Submit</button>
				</div>
			</form>
			<br />
			
			<div class="table-responsive" *ngIf="rooms">
			<h3>Available Rooms</h3>
				<table class="table">
					<tbody>
						<tr *ngFor="let room of rooms">
							<td><img alt="any" src="assets/intro_room.jpg"></td>
							<td><strong>Room #: {{room.roomNumber}}</strong><br> <strong>Price
									#: $ {{room.price}} {{room.id}}</strong></td>
							<td><button type="submit" class="btn btn-primary" (click)="reserveRoom(room.id)">Reserve</button></td>		
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

